.description {
  &__icon {
    width: 100%;
    height: 120px;
    background-color: $teamBackground;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__list {
    flex-direction: column;
    row-gap: 30px;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      column-gap: 30px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $headerLinkColor;
    letter-spacing: 0.03em;
  }
}
